name: 'Release version'
on:
  push:
    tags:
      - 'v*'

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test git signature verification action
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Test
        run: |
          make test
      - name: Check Git Signatures
        uses: ./
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          allowed-release-signers: yoavamit

